        <div class="navbar">
        <nav>
    
                <a href="/">Home</a>
                <a href="/aspects">Important Aspects</a></li>
                <a href="/stories">Life Stories</a></li>
                <a href="/Recipient">Request Donation</a></li>
                <a href="/form">Book Your Donation</a>
                <a href="/Login">Admin Login</a>
        </nav>
    </div>
    