<%- include('layouts/header');-%>
<%- include('layouts/head'); -%>
<%- include('layouts/adminNav');-%>
<form>
    <div class="addpage">
        <h1>Hello Admin, welcome to Dashboard !</h1>
    </div>

</form>
