<%- include('layouts/header'); -%>

<body>
  <%- include('layouts/head'); -%> <%- include('layouts/nav'); -%>

  <div class="aspects">
    <h1>Important Aspects of Organ Donation</h1>

    <p>
      Organ donation is a profound and life-saving act. Here are some crucial
      aspects to consider:
    </p>

    <h2>1. Types of Organ Donation</h2>
    <p>There are two primary types of organ donation:</p>
    <ul>
      <li>
        <strong>Living Donation:</strong> Individuals can donate certain organs,
        such as a kidney or part of the liver, while still alive.
      </li>
      <li>
        <strong>Deceased Donation:</strong> Organs from individuals who have
        passed away can also be donated, providing life-saving opportunities for
        others.
      </li>
    </ul>

    <h2>2. The Organ Donation Process</h2>
    <p>The process involves several essential steps:</p>
    <ul>
      <li>
        <strong>Registration:</strong> Individuals can register as organ donors
        through official organ donor registries.
      </li>
      <li>
        <strong>Evaluation:</strong> Donors undergo a comprehensive evaluation
        for compatibility and overall health.
      </li>
      <li>
        <strong>Transplantation:</strong> The organ is transplanted to the
        recipient through a surgical procedure.
      </li>
    </ul>

    <h2>3. Organ Shortage</h2>
    <p>
      There is a significant shortage of organs worldwide. Registering as an
      organ donor can help address this issue and save lives.
    </p>

    <h2>4. Benefits of Organ Donation</h2>
    <p>
      Organ donation can have a profound impact on both the donor and the
      recipient, offering a second chance at life and improving the quality of
      life for those in need.
    </p>

    <hr />

    <h2>Organ Donation Statistics</h2>
    <p>As of the latest data:</p>
    <ul>
      <li>
        Over 114,000 people in the United States are currently waiting for a
        life-saving organ transplant.
      </li>
      <li>
        On average, 20 people die each day while waiting for a transplant.
      </li>
      <li>One organ donor can save up to eight lives.</li>
    </ul>

    <div class="cta-container">
      <a href="/form" target="_blank" class="cta-button"
        >Register as an Organ Donor</a
      >
    </div>
  </div>

  <%- include('layouts/footer');-%>
</body>
